


.price {
  color: ForestGreen;
  }

.orderInfo{
  font-weight:bold;
  color: ForestGreen;
}


.tables{
width: 100%;
height: 100%;
table-layout: fixed;
}

.td_overflow
{
 max-width: 140px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
  
 